<p>
A sample tool made for HotCode 2013 master-class on #JS section.
Could be really useful for bitbucket users who really stuck of using classic mail-lists and wants some fresh experience
</p>
<p>cid: {{cid}}</p>
